body {
  min-width: 300px;
  min-height: 100px;
  position: relative;
  vertical-align:middle;
  background-color: #0f172a;
  h1 {
    color: #facc15;
    text-align: center;
  }
  h2{
    color: #facc15;
    text-align: center;
  }
  h3 {
    color: #facc15;
    text-align: center;
  }
  #loginForm {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}
img {
  border-radius: 50%;
  display: block;
  margin: auto;
}
  } 
