body {
  min-width: 300px;
  min-height: 100px;
  position: relative;
  vertical-align:middle;
  background-color: #0f172a;
  h1 {
    color: #facc15;
    text-align: center;
  }
  h2{
    color: #facc15;
    text-align: center;
  }
  h3 {
    color: #facc15;
    text-align: center;
  }
  p{
    color: #facc15;
    text-align: center;
  }
  img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
  #InfoButton {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  }
  #WebAppButton {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  }
  #LogOutButton {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  }
}
