* {
  box-sizing: border-box;
  color: #fff;
  font-family: monospace;
  font-size: £0px;
  font-weight: bold;
  text-align: center;
}

html {
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 30px;
}
html::before {
    
  content:
    'This page has been blocked by your organisation because it is known to contain potential pirated content!';
}

body {
  display: none !important;
}
